In [ ]:
# Lab | Inferential statistics - ANOVA

In [2]:
import pandas as pd

In [6]:
df = pd.read_excel("anova_lab_data.xlsx")
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [10]:
df.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [11]:
df["Power "].value_counts()

160 W    5
180 W    5
200 W    5
Name: Power , dtype: int64

In [ ]:
# State the null hypothesis
# State the alternate hypothesis
# What is the significance level
# What are the degrees of freedom of model, error terms, and total DoF

In [ ]:
# H0 =  160W(mean etching rate) = 180 = 200
# H1 = the means of the 3 groups are different

In [15]:
W160 = df[df["Power "] == "160 W" ]
W160

   Power   Etching Rate
0   160 W          5.43
3   160 W          5.71
6   160 W          6.22
9   160 W          6.01
12  160 W          5.59

In [18]:
list160 = W160["Etching Rate"].tolist()
list160

[5.43, 5.71, 6.22, 6.01, 5.59]

In [16]:
W180 = df[df["Power "] == "180 W" ]
W180

   Power   Etching Rate
1   180 W          6.24
4   180 W          6.71
7   180 W          5.98
10  180 W          5.66
13  180 W          6.60

In [19]:
list180 = W180["Etching Rate"].tolist()
list180

[6.24, 6.71, 5.98, 5.66, 6.6]

In [17]:
W200 = df[df["Power "] == "200 W" ]
W200

   Power   Etching Rate
2   200 W          8.79
5   200 W          9.20
8   200 W          7.90
11  200 W          8.15
14  200 W          7.55

In [20]:
list200 = W200["Etching Rate"].tolist()
list200

[8.79, 9.2, 7.9, 8.15, 7.55]

In [21]:
import scipy.stats as stats

# Example data for three groups
list160
list180
list200

# Perform ANOVA test
f_statistic, p_value = stats.f_oneway(list160, list180, list200)

# Print the results
print("F-statistic:", f_statistic)
print("p-value:", p_value)

F-statistic: 36.87895470100505
p-value: 7.506584272358903e-06

In [ ]:
# Since the p-value is smaller than the typical significance level of 0.05, we reject the null hypothesis.